/*
Main stylesheet
*/

/*
Some common styles
--------------------------------------------------------
*/

/* box sizing */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* body */
body {
	background-color: #fcfefe;
	font-family: 'Nunito', sans-serif;
}

/* container */
.mw-container {
	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

/* page header */
.mw-page-header {
	margin-top: 80px;
	margin-bottom: 80px;
}

/* page title (h1) */
.mw-page-title {
	margin: 0 0 20px;
	font-size: 50px;
	font-weight: 800;
	line-height: 1.1;
	color: #282e2e;
}

/* page description (p) */
.mw-page-description {
	margin: 0 0 20px;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.3;
	color: #424a4b;
}

/* download link (a) */
.mw-download-link {
	display: inline-block;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.35;
	text-decoration: none;
	color: #424a4b;
}
.mw-download-link:hover,
.mw-download-link:focus {
	text-decoration: none;
	color: #424a4b;
}
.mw-download-link i {
	margin-right: 10px;
	font-size: 18px;
	position: relative;
	top: 1px;
}
.mw-download-link .mw-text {
	position: relative;
}
.mw-download-link .mw-text::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #00c2ce;

	-webkit-transition: bottom 0.1s linear;
	transition: bottom 0.1s linear;
}
.mw-download-link:hover .mw-text::after,
.mw-download-link:focus .mw-text::after {
	bottom: -8px;
}

/* menu label */
.mw-menu-label {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #424a4b;
}


/*
Menu
--------------------------------------------------------
*/

/* box-sizing for the menu */
.mw-border-box,
.mw-border-box * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mw-border-box::before,
.mw-border-box::after,
.mw-border-box *::before,
.mw-border-box *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* menu container */
.mw-menu {
	max-width: 1000px;
	height: 90px;
	margin: 25px auto 80px;
	padding: 0 25px;
	border-radius: 45px;
	background-color: #ffffff;
	box-shadow: 0 0 0 1px #282e2e, 2px 2px 0 0 #282e2e;
}
.mw-menu::after {
	content: '';
	display: table;
	clear: both;
}

/* menu list (ul>li>a) */
.mw-menu-list {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
.mw-menu-list li {
	display: inline-block;
	white-space: nowrap;
}
.mw-menu-list li a {
	display: inline-block;
	line-height: 50px;
	border-radius: 25px;
	text-decoration: none;
}
.mw-menu-list li a:hover,
.mw-menu-list li a:focus {
	text-decoration: none;
}

/* menu items (ul>li>a) */
.mw-menu-items {
	float: left;
}
.mw-menu-items li a {
	padding: 0 15px;
	font-size: 16px;
	font-weight: 700;
	color: #282e2e;
	background-color: transparent;

	-webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.mw-menu-items li a:hover,
.mw-menu-items li a:focus {
	color: #ffffff;
	background-color: #282e2e;
}
.mw-menu-items li a i[class*="fa-"]:first-child {
	margin-right: 10px;
}

/* social links (ul>li>a) */
.mw-social-links {
	float: right;
	margin-right: 9px;
}
.mw-social-links li a {
	padding: 0 6px;
	font-size: 18px;
	color: #282e2e;

	-webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: color 0.2s ease-out, transform 0.2s ease-out;
}
.mw-social-links li a:hover,
.mw-social-links li a:focus {
	color: #424a4b;

	-webkit-transform: translate(-2px, -2px);
	transform: translate(-2px, -2px);
}

/* menu style 2 (with background) */
